<img class="img-thumbnail" width="100" src="../src/public/images/1670808904272_FjsSrQ3UAAMua5N.jpg" alt="">
{{#if books}}
    <div class="m-3">
      
        <a href="/admin/booksadd">agregar libro</a>
    </div>
    <div class="m-2">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Imagen</th>
      <th scope="col">Precio</th>
      <th scope="col">Genero</th>
      <th scope="col">Autor</th>
      <th scope="col">Fecha</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each allbooks}}
    <tr>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td><img class="img-thumbnail" width="100" src="src/public/images/{{image}}" alt="">
      {{image}}
      </td>
      
      <td>{{price}}</td>
      <td>{{genre}}</td>
      <td>{{author}}</td>
      <td>{{date}}</td>
      <td>
        <a href="/api/book/delete/{{_id}}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
{{/if}}

{{#if add}}
    <div class="m-3">
        {{>addBook}}
    </div>
{{/if}}